{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://nationalcatalog.kz","description":"Generated server url"}],"security":[{"ApiKeyAuth":[]}],"tags":[{"name":"Карточки товаров","description":"API для работы с карточками товаров"},{"name":"Заявки на товары","description":"API для управления заявками на товары в портале."},{"name":"Справочники","description":"API для работы со справочниками"}],"paths":{"/portal/api/v1/products/requests/{id}":{"put":{"tags":["Заявки на товары"],"summary":"Обновить заявку на товар","description":"Метод позволяет обновить атрибуты заявки на создание карточки товара.\nОбновление доступно только для заявок в статусе **new** (Новая) или **underRevision** (На доработке)\nили **underRevisionGz** (На доработке — Расширенная карточка) или **cancelled** (Отозвано).\nВ запросе необходимо передать полный список атрибутов с новыми значениями.\n\n**Для расширенных карточек действуют те же правила, что и при создании:**\n- **isGov**: `true`\n- Прикрепляются массивы `imageFiles` и `documents` (передаются `fileName`, предварительно полученные через методы `POST /upload` и `POST /upload/document`)\n- Обязательно наличие атрибута `brand`\n- Расширенные характеристики передаются тремя группами: `mainExtendedAttributes`,\n  `additionalExtendedAttributes` и `customExtendedAttributes` — состав и правила\n  те же, что описаны в методе создания заявки.\n\nРасширенная характеристика в общем массиве `attributes` с флагом `isGov = true`\nприведёт к ошибке валидации.\n","operationId":"updateProductRequest","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortalCreateUpdateProductRequestDto"},"examples":{"Пример запроса":{"description":"Пример запроса","value":{"oktru":"1113-0012-0024-100100228","autoPublication":true,"isGov":true,"imageFiles":[{"fileName":"f47ac10b-58cc-4372-a567-0e02b2c3d479.jpg","imageType":"FRONT"},{"fileName":"a24bd10c-12bc-4481-b552-3a04c1c2d334.jpg","imageType":"BACK"}],"documents":[{"fileName":"certificate.pdf"}],"attributes":[{"code":"gtin","value":"40000000000000"},{"code":"xtin","value":"4000000000000"},{"code":"name_ru","value":"Плиты бетонные тротуарные Б.2.А.8Т"},{"code":"name_kk","value":"Тротуарлық бетон тақталар Б.2.А.8Т"},{"code":"short_name_ru","value":"Тротуар Б.2.А.8Т"},{"code":"short_name_kk","value":"Тротуар Б.2.А.8Т"},{"code":"country","value":"KZ"},{"code":"article","value":"ART-12345"},{"code":"mpn_code","value":"MPN-54321"},{"code":"tnved","value":"6810190001"},{"code":"measure","attributes":[{"code":"measure_unit","value":"55"},{"code":"quantity","value":"1"}]},{"code":"producer_identifier","value":"123456789012"},{"code":"producer_country","value":"KZ"},{"code":"a4282e5d","value":"ТОО Пример Производителя"},{"code":"szpt_category","value":"SZPT-001","isGov":true},{"code":"is_domestic","value":"true","isGov":true},{"code":"eaes","value":"false"},{"code":"marking_required_status","value":"false"},{"code":"brand","value":"IKEA"}],"mainExtendedAttributes":[{"code":"gross_weight","value":"0.5 кг"},{"code":"net_weight","value":"0.4 кг"},{"code":"volume","value":"150 мл"},{"code":"enstrus","value":"329912.130.000000"},{"code":"standards","value":"СТ РК ISO 12757-1"},{"code":"package_dimensions","attributes":[{"code":"width","value":"10"},{"code":"height","value":"10"},{"code":"length","value":"10"},{"code":"dimension_measure","value":"см"}]},{"code":"product_dimensions","attributes":[{"code":"width","value":"10"},{"code":"height","value":"10"},{"code":"length","value":"10"},{"code":"dimension_measure","value":"см"}]}],"additionalExtendedAttributes":[{"code":"material","value":"Бетон","nameRu":"Материал","nameKk":"Материал"}],"customExtendedAttributes":[{"value":"Специфичное значение 1","nameRu":"Моя характеристика 1","nameKk":"Менің сипаттамам 1"},{"value":"Специфичное значение 2","nameRu":"Моя характеристика 2","nameKk":"Менің сипаттамам 2"},{"value":"Специфичное значение 3","nameRu":"Моя характеристика 3","nameKk":"Менің сипаттамам 3"},{"value":"Специфичное значение 4","nameRu":"Моя характеристика 4","nameKk":"Менің сипаттамам 4"},{"value":"Специфичное значение 5","nameRu":"Моя характеристика 5","nameKk":"Менің сипаттамам 5"}]}}}}},"required":true},"responses":{"200":{"description":"Успешный ответ. Запрос выполнен корректно, возвращены ожидаемые данные.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}},"delete":{"tags":["Заявки на товары"],"summary":"Удалить заявку на товар","description":"Метод удаляет заявку на создание карточки товара по ее идентификатору.\nУдаление доступно только для заявок в статусе **new** (Новая).\nПосле удаления заявка перестает отображаться в списке пользователя.\n","operationId":"deleteProductRequest","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Успешный ответ. Заявка удалена, тело ответа отсутствует.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/products/requests/{id}/publish":{"put":{"tags":["Заявки на товары"],"summary":"Опубликовать заявку на товар","description":"Метод инициирует публикацию карточки товара, созданной в результате заявки.\nДоступно только для заявок со статусом **readyToPublish** (Готов к публикации).\n\nПосле успешного вызова заявка передаётся в процесс публикации и ее статус изменяется на:\n- **publishingGz** — Публикация (Расширенная карточка),\n- **completed** — Выполнено (если публикация завершена успешно).\n\nЕсли заявка не готова к публикации или уже опубликована — будет возвращена ошибка бизнес-валидации.\n","operationId":"publish","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Успешный ответ. Публикация заявки запущена, тело ответа отсутствует.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/products/requests/{id}/moderation":{"put":{"tags":["Заявки на товары"],"summary":"Отправить заявку на модерацию","description":"Метод переводит заявку на создание карточки товара в состояние модерации.\nОтправка на модерацию доступна только для заявок в статусе **new** (Новая)\nили **underRevision** (На доработке) или **underRevisionGz** (На доработке — Расширенная карточка).\n\nПосле вызова метода заявка передается на проверку модератору.\nДополнительные параметры передавать не требуется.\n\nПеред переводом на модерацию проверяется временный код XTIN, если он заполнен:\nровно 13 цифр, первые три — `004` (например `0041234567890`). Код с другой длиной,\nдругим началом или посторонними символами отклоняется бизнес-ошибкой, и заявка\nостаётся в прежнем статусе. Проверка выполняется именно здесь, поэтому заявка,\nсохранённая с неверным кодом раньше, дальше тоже не пройдёт.\n","operationId":"onModerationRequest","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Успешный ответ. Заявка успешно отправлена на модерацию.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Заявка не может быть отправлена на модерацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка бизнес-валидации. Текущий статус заявки не допускает отправку на модерацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/products/requests/{id}/cancel":{"put":{"tags":["Заявки на товары"],"summary":"Отозвать заявку на товар","description":"Метод позволяет отозвать заявку на создание карточки товара.\nОтзыв доступен только для заявок в статусе **onModeration** (На модерации).\n\nПосле вызова метода заявка переводится в состояние **cancelled** (Отозвана).\nДополнительные параметры передавать не требуется.\n","operationId":"cancelRequest","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Успешный ответ. Заявка успешно отозвана.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Текущий статус заявки не допускает ее отзыв.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка бизнес-валидации. Заявка не находится на модерации и не может быть отозвана.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/storage/upload":{"post":{"tags":["Заявки на товары"],"summary":"Загрузить фотографию","description":"Метод загрузки фотографий товара на сервер. Максимальный размер - 5 МБ. Возвращает объект с полем `filename`, которое необходимо передать при создании заявки в массив `imageFiles`.","operationId":"uploadFile","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UploadedFileDto"}}}}}}},"/portal/api/v1/storage/upload/document":{"post":{"tags":["Заявки на товары"],"summary":"Загрузить PDF документ","description":"Метод загрузки сопроводительных документов (PDF) на сервер. Максимальный размер - 5 МБ. Возвращает объект с полем `filename`, которое необходимо передать при создании заявки в массив `documents`.","operationId":"uploadDocument","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UploadedFileDto"}}}}}}},"/portal/api/v1/products/requests":{"get":{"tags":["Заявки на товары"],"summary":"Получить список заявок на товары пользователя","description":"Метод возвращает постраничный список заявок на создание карточек товаров,\nпринадлежащих текущему пользователю.\nКаждый элемент содержит краткие сведения о заявке, включая:\n- иерархию категории (ancestors),\n- базовые данные о товаре (наименование, краткое наименование),\n- статус и тип заявки,\n- дату создания и флаг автоматической публикации.\n","operationId":"fetch","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["new","onModeration","accepted","underRevision","rejected","cancelled","readyToPublish","completed","existingProductSelected"]}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32","minimum":1}},{"name":"size","in":"query","required":true,"schema":{"type":"integer","format":"int32","maximum":100}}],"responses":{"200":{"description":"Успешный ответ. Возвращён список заявок пользователя.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagedPortalProductRequestShortDto"},"examples":{"Пример ответа":{"description":"Пример ответа","value":{"content":[{"id":26799,"categoryId":8812,"categoryAncestors":[{"level":1,"code":"1015","nameKk":"Дәрілік заттар","nameRu":"Лекарственные средства"},{"level":2,"code":"1015-0001","nameRu":"Пищеварительный тракт и обмен веществ"},{"level":3,"code":"1015-0001-0029","nameRu":"Другие противорвотные препараты"},{"level":4,"code":"1015-0001-0029-100001212","nameRu":"Хлоробутанол в комбинации со средствами"}],"productData":{"nameRu":"Платье женское вечернее из шелка","nameKk":"Жібектен тігілген әйелдердің кешкі көйлегі","shortNameRu":"Платье вечернее","shortNameKk":"Кешкі көйлек"},"status":{"code":"new","value":"Новая"},"requestType":{"code":"base","value":"Базовый"},"autoPublication":false,"createdDate":"2025-10-26T00:02:06"}],"totalElements":5,"totalPages":1}}}}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}},"post":{"tags":["Заявки на товары"],"summary":"Создать заявку на товар","description":"    Метод создает черновик заявки на карточку товара.\n    На этапе создания выполняется только базовая проверка данных — полная валидация\n    осуществляется позже, при отправке заявки на модерацию.\n\n    Для создания черновика необходимо указать как минимум:\n    - **oktru** — код категории товара\n    - **name_ru** — полное наименование товара\n\n    **Тип заявки определяет поле `ntin`.** Без него создаётся заявка на новый товар.\n    Если передан НТИН существующей карточки — создаётся заявка на её редактирование,\n    и отдельный метод `POST /{ntin}/edit-product` для этого не нужен.\n\n    При редактировании часть полей изменить нельзя: полное наименование на русском\n    (`name_ru`) и казахском (`name_kk`), `ntin` и код ТН ВЭД (`tnved`). Их можно\n    не передавать — значения возьмутся из карточки; переданное отличающееся значение\n    вернёт ошибку валидации. Расширенные карточки (с присвоенным КЗТИН) через внешний\n    API не редактируются.\n\n    **Для расширенных карточек необходимо передать:**\n    - **isGov**: `true`\n    - **brand**: обязательный атрибут (передается в массиве attributes)\n    - **imageFiles**: массив предварительно загруженных изображений. Для загрузки фото и получения `fileName` используйте метод `POST /api/v1/storage/upload` (обязательны FRONT и BACK при отправке на модерацию)\n    - **documents**: массив предварительно загруженных PDF документов. Для загрузки документов используйте метод `POST /api/v1/storage/upload/document`.\n\n    **Расширенные характеристики разделены на три группы — так же, как в интерфейсе НКТ:**\n    - **mainExtendedAttributes** — основные: единый для всех категорий набор ЦЭФ\n      (`enstrus`, `gross_weight`, `net_weight`, `volume`, `standards`,\n      `package_dimensions`, `product_dimensions`). Обязательны для отправки на модерацию.\n    - **additionalExtendedAttributes** — дополнительные, предусмотренные для конкретной\n      категории. Их состав отдаёт `GET /categories/{oktru}/gov-attributes`.\n    - **customExtendedAttributes** — созданные пользователем вручную, когда нужной\n      характеристики нет среди предусмотренных для категории. Поле `code` не передаётся:\n      код генерируется в НКТ из наименования, поэтому обязательны `nameRu`, `nameKk` и `value`.\n\n    Группа проверяется при создании: если характеристика передана не в своей группе,\n    вернётся ошибка валидации с её кодом.\n\n    Признаки формы `szpt_category` и `is_domestic` расширенными характеристиками\n    не являются и передаются в общем массиве **attributes**.\n\n    Расширенная характеристика, переданная в массиве **attributes** с флагом `isGov = true`,\n    приведёт к ошибке валидации: по такому массиву нельзя отличить основную\n    характеристику от дополнительной.\n\n    Если атрибут имеет тип **multiDictionary**, его поле **value** поддерживает\n    передачу нескольких справочных значений, разделенных символом **@**.\n    В этом случае каждое значение интерпретируется как отдельный элемент справочника.\n\n    Пример передачи множественного справочного значения:\n    - `\"value\": \"2105009100@6403919600\"`\n\n    После создания черновика заявка может быть дополнена другими атрибутами.\n    При последующей передаче на модерацию система выполнит полную проверку корректности\n    заполнения всех обязательных атрибутов в соответствии с требованиями категории.\n","operationId":"createProductRequest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortalCreateUpdateProductRequestDto"},"examples":{"Пример запроса":{"description":"Пример запроса","value":{"oktru":"1113-0012-0024-100100228","autoPublication":true,"isGov":true,"imageFiles":[{"fileName":"f47ac10b-58cc-4372-a567-0e02b2c3d479.jpg","imageType":"FRONT"},{"fileName":"a24bd10c-12bc-4481-b552-3a04c1c2d334.jpg","imageType":"BACK"}],"documents":[{"fileName":"certificate.pdf"}],"attributes":[{"code":"gtin","value":"40000000000000"},{"code":"xtin","value":"4000000000000"},{"code":"name_ru","value":"Плиты бетонные тротуарные Б.2.А.8Т"},{"code":"name_kk","value":"Тротуарлық бетон тақталар Б.2.А.8Т"},{"code":"short_name_ru","value":"Тротуар Б.2.А.8Т"},{"code":"short_name_kk","value":"Тротуар Б.2.А.8Т"},{"code":"country","value":"KZ"},{"code":"article","value":"ART-12345"},{"code":"mpn_code","value":"MPN-54321"},{"code":"tnved","value":"6810190001"},{"code":"measure","attributes":[{"code":"measure_unit","value":"55"},{"code":"quantity","value":"1"}]},{"code":"producer_identifier","value":"123456789012"},{"code":"producer_country","value":"KZ"},{"code":"a4282e5d","value":"ТОО Пример Производителя"},{"code":"szpt_category","value":"SZPT-001","isGov":true},{"code":"is_domestic","value":"true","isGov":true},{"code":"eaes","value":"false"},{"code":"marking_required_status","value":"false"},{"code":"brand","value":"IKEA"}],"mainExtendedAttributes":[{"code":"gross_weight","value":"0.5 кг"},{"code":"net_weight","value":"0.4 кг"},{"code":"volume","value":"150 мл"},{"code":"package_dimensions","attributes":[{"code":"width","value":"10"},{"code":"height","value":"10"},{"code":"length","value":"10"},{"code":"dimension_measure","value":"см"}]},{"code":"product_dimensions","attributes":[{"code":"width","value":"10"},{"code":"height","value":"10"},{"code":"length","value":"10"},{"code":"dimension_measure","value":"см"}]},{"code":"enstrus","value":"329912.130.000000"},{"code":"standards","value":"СТ РК ISO 12757-1"}],"additionalExtendedAttributes":[{"code":"material","value":"Бетон","nameRu":"Материал","nameKk":"Материал"}],"customExtendedAttributes":[{"value":"Специфичное значение 1","nameRu":"Моя характеристика 1","nameKk":"Менің сипаттамам 1"},{"value":"Специфичное значение 2","nameRu":"Моя характеристика 2","nameKk":"Менің сипаттамам 2"},{"value":"Специфичное значение 3","nameRu":"Моя характеристика 3","nameKk":"Менің сипаттамам 3"},{"value":"Специфичное значение 4","nameRu":"Моя характеристика 4","nameKk":"Менің сипаттамам 4"},{"value":"Специфичное значение 5","nameRu":"Моя характеристика 5","nameKk":"Менің сипаттамам 5"}]}}}}},"required":true},"responses":{"200":{"description":"Успешный ответ. Запрос выполнен корректно, возвращены ожидаемые данные.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProductResponseDto"},"examples":{"Пример ответа":{"description":"Пример ответа","value":{"id":4125}}}}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/products/requests/{ntin}/edit-product":{"post":{"tags":["Заявки на товары"],"summary":"Создать заявку на редактирование карточки товара","description":"Создаёт черновик заявки на редактирование уже опубликованной карточки.\nВ пути передаётся **НТИН** карточки.\n\nВ ответе возвращается идентификатор созданной заявки и её тело в том же формате,\nкоторый принимает `PUT /portal/api/v1/products/requests/{id}`. Отдельный запрос\nза деталкой не нужен: правите нужные поля в полученном JSON и отправляете обратно.\n\nПоля, которых нет в формате обновления, в ответ не попадают — редактированию они\nне подлежат: статус заявки, даты, комментарии модератора, причина отклонения.\n\nАтрибуты возвращаются полностью, включая неизменяемые, чтобы была видна вся карточка.\nИзменить при редактировании нельзя `name_ru`, `name_kk`, `ntin` и `tnved`: переданное\nотличающееся значение вернёт ошибку валидации, пустое — заменится значением карточки.\n\nПоле `oktru` возвращается всегда, но может быть `null`: у части старых карточек\nкатегория отсутствует в действующем справочнике. В этом случае перед отправкой\nобновления укажите актуальный код категории, иначе запрос вернёт ошибку\nоб обязательном ОКТРУ.\n\nТо же самое доступно и через `POST /portal/api/v1/products/requests` с полем `ntin` —\nтам заявка создаётся сразу с нужными значениями, без промежуточного чернового тела.\n\nСтруктура ответа не зависит от содержимого карточки. Незаполненное поле приходит\nс пустым значением, а не пропадает; списки `attributes`, `mainExtendedAttributes`,\n`additionalExtendedAttributes`, `customExtendedAttributes`, `imageFiles`\nи `documents` присутствуют всегда, при отсутствии данных — пустыми массивами.\n\n**Редактировать можно только базовые карточки.** Расширенная карточка ведётся\nна стороне ЦЭФ, и правка в обход его модерации разошлась бы с опубликованными\nданными, поэтому метод отклоняет такие карточки бизнес-ошибкой. Тип заявки\n(`isGov` при создании) на доступность метода не влияет: пока расширение\nне опубликовано, карточка остаётся базовой.\n\n**Расширенные характеристики через этот метод не редактируются.** Группы\n`mainExtendedAttributes`, `additionalExtendedAttributes` и `customExtendedAttributes`\nв ответе всегда пустые: карточка правится как базовая, а расширенная часть\nзаводится и меняется только через модерацию ЦЭФ. Чтобы дополнить карточку\nрасширенными характеристиками, подайте отдельную заявку с `isGov = true`\nчерез `POST /portal/api/v1/products/requests`.\n\nКарточка также должна быть активной: деактивированные и защищённые\nпроизводителем к редактированию не принимаются.\n","operationId":"createRequestForProductEdit","parameters":[{"name":"ntin","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Успешный ответ. Заявка на редактирование создана.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortalEditProductResponseDto"},"examples":{"Пример ответа":{"description":"Пример ответа","value":{"productRequestId":484025,"oktru":"1071-0001-0004-100043098","isGov":false,"autoPublication":false,"attributes":[{"code":"ntin","value":"0200121958529"},{"code":"name_ru","value":"Сумка для планшетов Акро"},{"code":"name_kk","value":"Планшеттерге арналған сөмке Акро"},{"code":"short_name_ru","value":"Сумка для планшетов"},{"code":"country","value":"KZ"},{"code":"brand","value":"Акро"},{"code":"measure","attributes":[{"code":"measure_unit","value":"796"},{"code":"quantity","value":"1"}]}],"mainExtendedAttributes":[],"additionalExtendedAttributes":[],"customExtendedAttributes":[],"imageFiles":[{"fileName":"f47ac10b-58cc-4372-a567-0e02b2c3d479.jpg","imageType":"FRONT"},{"fileName":"a24bd10c-12bc-4481-b552-3a04c1c2d334.jpg","imageType":"BACK"}],"documents":[{"fileName":"certificate.pdf"}]}}}}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"404":{"description":"Карточка товара с указанным НТИН не найдена.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"NOT_FOUND","message":"Запрашиваемые данные не найдены."}}}},"422":{"description":"Карточка расширенная либо недоступна для редактирования.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"BUSINESS_ERROR","message":"Карточка является расширенной и не может быть отредактирована через внешний API. Изменения по расширенным карточкам вносятся через ЦЭФ."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/products/requests/{id}/duplicate-decision":{"post":{"tags":["Заявки на товары"],"summary":"Принятие решения по найденным дублям","description":"Позволяет принять решение по заявке, находящейся на доработке (DUPLICATE_REVIEW). CONTINUE - продолжить модерацию новой карточки, USE_EXISTING - выбрать один из найденных дублей.","operationId":"makeDuplicateDecision","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortalDuplicateDecisionRequestDto"},"examples":{"Продолжить без дублей (CONTINUE)":{"summary":"Пример для CONTINUE","description":"Продолжить модерацию новой карточки без привязки к дублю","value":{"decision":"CONTINUE"}},"Выбрать существующий (USE_EXISTING)":{"summary":"Пример для USE_EXISTING","description":"Выбрать существующий товар по NTIN","value":{"decision":"USE_EXISTING","ntin":"04870000000000"}}}}},"required":true},"responses":{"200":{"description":"Успешный ответ. Решение применено."},"400":{"description":"Некорректный запрос (например, не передан ntin при USE_EXISTING)."},"401":{"description":"Не авторизован."},"422":{"description":"Заявка не находится в статусе ожидания решения по дублям."}}}},"/portal/api/v2/products/{tin}":{"get":{"tags":["Карточки товаров"],"summary":"Получить список карточек товаров по NTIN или GTIN","description":"Выполняет поиск карточек товаров по указанным идентификаторам NTIN или GTIN.\n\nGTIN не является уникальным и может соответствовать нескольким различным товарам —\nв этом случае API возвращает полный список всех найденных карточек.\n\nNTIN является уникальным идентификатором товара, поэтому при поиске по NTIN\nAPI всегда возвращает только одну карточку (если она существует).\n","operationId":"getProductByTin","parameters":[{"name":"tin","in":"path","description":"Код NTIN или GTIN. Должен состоять только из 13 цифр.","required":true,"schema":{"type":"string"},"example":"0954353542345"}],"responses":{"200":{"description":"Карточка товара найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortalProductDto"},"example":[{"id":18,"gtin":"0954353542345","ntin":"0200120931509","nameKk":"Smartfon Apple iPhone 17 Pro 256GB Cosmic Orange","nameRu":"Smartfon Apple iPhone 17 Pro 256GB Cosmic Orange","nameEn":"Smartfon Apple iPhone 17 Pro 256GB Cosmic Orange_edited","shortNameKk":"Apple iPhone 17 Pro","shortNameRu":"Apple iPhone 17 Pro","shortNameEn":"Apple iPhone 17 Pro","requestType":"base","categoryAncestors":[{"level":1,"code":"1024","nameKk":"Bailanys kuraldary","nameRu":"Sredstva kommunikacii"},{"level":2,"code":"1024-0001","nameRu":"Sredstva kommunikacii"},{"level":3,"code":"1024-0001-0003","nameRu":"Ustroistva mobilnoi svyazi"},{"level":4,"code":"1024-0001-0003-100007979","nameRu":"Mobilnye telefony"}],"isGovernment":false,"createdDate":"2025-10-08T19:10:00","updatedDate":"2025-10-24T01:42:21"}]}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/products/{tin}":{"get":{"tags":["Карточки товаров"],"summary":"Получить карточку товара по NTIN или GTIN","description":"Возвращает полную карточку товара по указанному коду NTIN или GTIN.\nЕсли передан GTIN — поиск выполняется по GTIN, если NTIN — по NTIN.\n","operationId":"getProductByTin_1","parameters":[{"name":"tin","in":"path","description":"Код NTIN всегда состоит из 13 цифр. Код GTIN может содержать 13 или 14 цифр.","required":true,"schema":{"type":"string"},"example":"0954353542345"}],"responses":{"200":{"description":"Карточка товара найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortalProductDto"},"example":{"id":18,"gtin":"0954353542345","ntin":"0200120931509","nameKk":"Smartfon Apple iPhone 17 Pro 256GB Cosmic Orange","nameRu":"Smartfon Apple iPhone 17 Pro 256GB Cosmic Orange","nameEn":"Smartfon Apple iPhone 17 Pro 256GB Cosmic Orange_edited","shortNameKk":"Apple iPhone 17 Pro","shortNameRu":"Apple iPhone 17 Pro","shortNameEn":"Apple iPhone 17 Pro","requestType":"base","categoryAncestors":[{"level":1,"code":"1024","nameKk":"Bailanys kuraldary","nameRu":"Sredstva kommunikacii"},{"level":2,"code":"1024-0001","nameRu":"Sredstva kommunikacii"},{"level":3,"code":"1024-0001-0003","nameRu":"Ustroistva mobilnoi svyazi"},{"level":4,"code":"1024-0001-0003-100007979","nameRu":"Mobilnye telefony"}],"isGovernment":false,"createdDate":"2025-10-08T19:10:00","updatedDate":"2025-10-24T01:42:21"}}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/products/requests/{id}/status":{"get":{"tags":["Заявки на товары"],"summary":"Получить статус заявки на товар по идентификатору","description":"Возвращает полное состояние заявки: статус базовой части, результат публикации,\nзамечания модератора и — для расширенных карточек — отдельный блок расширенной части.\n\n**Статусы базовой заявки**\n- **new** — Новая\n- **onModeration** — Отправлена на модерацию\n- **accepted** — Принято в работу\n- **underRevision** — На доработке\n- **rejected** — Отклонено\n- **cancelled** — Отозвано\n- **readyToPublish** — Готов к публикации\n- **existingProductSelected** — Выбран существующий товар\n- **completed** — Выполнено\n\n**Статусы расширенной части (объект `gzStatus`)**\n- **acceptedGz** — Принято в работу\n- **underRevisionGz** — На доработке\n- **rejectedGz** — Отклонено\n- **publishingGz** — Публикация\n\n`gzStatus` возвращается, пока по заявке идёт работа в ЦЭФ, — в том числе когда базовая\nзаявка уже `completed`. Такое состояние нормально: карточка опубликована, а расширение\nещё дорабатывается.\n\n**Замечания.** Общий комментарий приходит в `comment`, замечания к конкретным полям —\nв массиве `revisionDetails`. Одно не заменяет другое: если есть и то и другое,\nвозвращаются оба. Для расширенной части те же поля лежат внутри `gzStatus`.\n\n**Публикация.** При `completed` возвращаются `ntinCode` и `productUrl` — НТИН\nи ссылка на опубликованную карточку.\n\n**Выбран существующий товар.** Если при разборе дублей вместо создания новой карточки\nбыла выбрана уже существующая, заявка переходит в `existingProductSelected`, и в ответе\nприходят `ntinCode` и `productUrl` именно выбранной карточки. Новая карточка при этом\nне создаётся — по этому статусу внешняя система понимает, что заявка завершена\nповторным использованием существующего товара.\n\nКЗТИН не возвращается ни при каких условиях: он используется только во взаимодействии\nЦЭФ и ЦРЦЭ, внешним системам доступен НТИН.\n\n**Проверка на дубли.** У неё два разных исхода, и путь по ним тоже разный.\n\n*Найдены похожие карточки* — решение за пользователем. Заявка возвращается\nв `underRevision`, в ответе приходят `reason` с причиной и `nextAction` —\nготовая подсказка, какой метод вызвать дальше. Сам список совпадений в этот метод\nне входит: он отдаётся методом\n`GET /portal/api/v1/products/requests/{id}/duplicates`, а решение принимается через\n`POST /portal/api/v1/products/requests/{id}/duplicate-decision`.\n\n*Карточка уже существует* — выбирать нечего. Заявка отклоняется, статус `rejected`,\nи в ответе сразу приходят причина в `comment`, а также `ntinCode` и `productUrl`\nсуществующей карточки. `nextAction` в этом сценарии не возвращается: вызывать\n`/duplicates` не нужно, результат проверки уже однозначный.\n\nМетод `/duplicates` вернёт `NOT_FOUND`, если проверка дублей по заявке\nне проводилась.\n\n**Проверка изображений.** Фотографии проверяет ИИ, и его вывод не попадает\nни в `comment`, ни в `revisionDetails` — их заполняет модератор. Если оценка ниже\nдопустимого порога, при `underRevision` и `rejected` возвращается блок\n`photoModeration`: `score` — правильность заполнения фото в процентах (та же\nцифра, что видна в интерфейсе НКТ), `comment` — что именно не так с изображением.\nКогда других причин возврата нет, в `reason` приходит «Изображения не прошли\nпроверку ИИ»; причину по дублям этот блок не перетирает.\n\nПустые поля в ответ не попадают, поэтому в простых статусах он остаётся коротким.\n","operationId":"getStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Успешный ответ. Возвращён текущий статус заявки.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortalProductRequestStatusDto"},"examples":{"На доработке":{"description":"На доработке","value":{"code":"underRevision","value":"На доработке","comment":"Необходимо скорректировать данные карточки.","revisionDetails":[{"attributeCode":"brand","value":"HP","comment":"Уточните значение бренда."}]}},"На доработке по дублям":{"description":"На доработке по дублям","value":{"code":"underRevision","value":"Returned for revision","reason":"Potential duplicate products found","nextAction":{"description":"Get the list of potential duplicates and make a duplicate decision","method":"GET","endpoint":"/gwp/portal/api/v1/products/requests/484349/duplicates"}}},"На доработке по фото":{"description":"На доработке по фото","value":{"code":"underRevision","value":"На доработке","reason":"Изображения не прошли проверку ИИ","photoModeration":{"score":0,"comment":"Фотография не соответствует заявленному названию товара: на изображении представлен другой товар. Фон светлый и однотонный, качество высокое, но товар не тот."}}},"Отклонено":{"description":"Отклонено","value":{"code":"rejected","value":"Отклонено","comment":"Карточка не соответствует требованиям каталога."}},"Отклонено: карточка уже существует":{"description":"Отклонено: карточка уже существует","value":{"code":"rejected","value":"Отклонено","comment":"Заявка отклонена: такая карточка товара уже существует в каталоге","ntinCode":"0200121960737","productUrl":"https://nationalcatalog.kz/product/118083"}},"Выбран существующий товар":{"description":"Выбран существующий товар","value":{"code":"existingProductSelected","value":"Выбран существующий товар","ntinCode":"0200121958529","productUrl":"https://nationalcatalog.kz/product/118092"}},"Опубликовано":{"description":"Опубликовано","value":{"code":"completed","value":"Выполнено","ntinCode":"0200121958529","productUrl":"https://nationalcatalog.kz/product/105254003"}},"Опубликовано, Расширенная карточка на доработке":{"description":"Опубликовано, Расширенная карточка на доработке","value":{"code":"completed","value":"Выполнено","ntinCode":"0200121958529","productUrl":"https://nationalcatalog.kz/product/105254003","gzStatus":{"code":"underRevisionGz","value":"На доработке","comment":"Прошу дополнить заявку","revisionDetails":[{"attributeCode":"kolichestvo_posadochnyh_mest","value":"4","comment":"Исправьте это поле"}]}}},"Опубликовано, Расширенная карточка на публикации":{"description":"Опубликовано, Расширенная карточка на публикации","value":{"code":"completed","value":"Выполнено","ntinCode":"0200121958529","productUrl":"https://nationalcatalog.kz/product/105254003","gzStatus":{"code":"publishingGz","value":"Публикация","comment":"Карточка передана на публикацию."}}}}}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/products/requests/{id}/duplicates":{"get":{"tags":["Заявки на товары"],"summary":"Получение списка потенциальных дублей товара","description":"Возвращает список товаров, которые потенциально являются дублями для заявки, находящейся на доработке по причине DUPLICATE_REVIEW.","operationId":"getDuplicates","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Успешный ответ. Возвращён список потенциальных дублей.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PortalDuplicateMatchDto"}}}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PortalDuplicateMatchDto"}}}}},"404":{"description":"Проверка дублей не найдена.","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PortalDuplicateMatchDto"}}}}}}}},"/portal/api/v1/products/requests/{id}/details":{"get":{"tags":["Заявки на товары"],"summary":"Получить детали заявки на товар","description":"Возвращает полную информацию о заявке на создание карточки товара по ее идентификатору.\nВ ответе содержатся:\n- иерархия категорий (ancestors) до конкретной позиции ОКТРУ,\n- статус и тип заявки,\n- список всех атрибутов товара с заполненными значениями.\n","operationId":"getDetails","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Успешный ответ. Запрос выполнен корректно, возвращены ожидаемые данные.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortalAttributeObjectDto"},"examples":{"Пример ответа":{"description":"Пример ответа","value":{"id":26801,"categoryId":8812,"categoryAncestors":[{"level":1,"code":"1015","nameKk":"Дәрілік заттар","nameRu":"Лекарственные средства"},{"level":2,"code":"1015-0001","nameRu":"Пищеварительный тракт и обмен веществ"},{"level":3,"code":"1015-0001-0029","nameRu":"Другие противорвотные препараты"},{"level":4,"code":"1015-0001-0029-100001212","nameRu":"Хлоробутанол в комбинации со средствами"}],"status":{"code":"new","value":"Новая"},"requestType":{"code":"base","value":"Базовый"},"autoPublication":false,"createdDate":"2025-10-26T18:35:11","attributes":[{"code":"name_ru","attributeType":"standard","nameRu":"Полное наименование товара (рус)","nameKk":"Тауардың толық атауы (орыс)","dataType":"string","isRequired":true,"isUnique":true,"value":"Платье женское вечернее из шелка"},{"code":"name_kk","attributeType":"standard","nameRu":"Полное наименование товара (қаз)","nameKk":"Тауардың толық атауы (қаз)","dataType":"string","isRequired":true,"isUnique":true,"value":"Жібектен тігілген әйелдердің кешкі көйлегі"},{"code":"country","attributeType":"standard","nameRu":"Страна происхождения","dataType":"dictionary","dictionaryCode":"COUNTRY","isRequired":true,"value":"KZ","values":{"code":"KZ","nameRu":"КАЗАХСТАН"}}],"imageData":{"imageFiles":[{"fileName":"f47ac10b-58cc-4372-a567-0e02b2c3d479.jpg","imageType":"FRONT"}]},"documents":{"documents":[{"fileName":"certificate.pdf"}]},"isGov":false}}}}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/products/requests/categories/{oktru}/gov-attributes":{"get":{"tags":["Заявки на товары"],"summary":"Получить список атрибутов расширенной карточки по категории (ОКТРУ)","description":"Возвращает расширенные характеристики категории ОКТРУ, разделённые на две группы —\nтак же, как они показываются в интерфейсе НКТ.\n\n- **mainAttributes** — основные расширенные, единый для всех категорий набор ЦЭФ.\n  При создании заявки передаются в `mainExtendedAttributes`.\n- **additionalAttributes** — дополнительные, предусмотренные для этой категории.\n  При создании заявки передаются в `additionalExtendedAttributes`.\n\nФлаг `isMain` в элементах на группу не влияет: им помечено большинство категорийных\nхарактеристик, хотя относятся они к дополнительным. Ориентируйтесь на массив.\n\n`isRequired` — требование ЦЭФ к расширенной карточке: он равен\n`isRequiredEgz || isRequiredKgd`, а отдельные флаги показывают, чьё это требование\n(ЕГЗ или КГД). Обязательность расширенных характеристик проверяет ЦЭФ, при приёме\nзаявки НКТ её не валидирует.\n\nХарактеристик, созданных пользователем вручную, в справочнике нет — они передаются\nв `customExtendedAttributes` без кода.\n","operationId":"getGovCategoryAttributes","parameters":[{"name":"oktru","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Успешный ответ. Запрос выполнен корректно, возвращены ожидаемые данные.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortalGovAttributesDto"},"examples":{"Пример ответа":{"description":"Пример ответа","value":{"mainAttributes":[{"code":"gross_weight","nameRu":"Вес брутто","nameKk":"Брутто салмағы","attributeType":"gov","dataType":"string","isMain":true,"isRequired":true,"isRequiredEgz":true,"isRequiredKgd":false},{"code":"volume","nameRu":"Объём","nameKk":"Көлемі","attributeType":"gov","dataType":"string","isMain":true,"isRequired":false,"isRequiredEgz":false,"isRequiredKgd":false},{"code":"package_dimensions","nameRu":"Габариты упаковки","nameKk":"Қаптама өлшемдері","attributeType":"gov","isMain":true,"isRequired":true,"isRequiredEgz":true,"isRequiredKgd":false,"isSingle":true,"attributes":[{"code":"width","nameRu":"Ширина","dataType":"number"},{"code":"height","nameRu":"Высота","dataType":"number"},{"code":"length","nameRu":"Длина","dataType":"number"},{"code":"dimension_measure","nameRu":"Единица измерения","dataType":"string"}]}],"additionalAttributes":[{"code":"material","nameRu":"Материал","nameKk":"Материал","attributeType":"gov","dataType":"string","isMain":true,"isRequired":false,"isRequiredEgz":false,"isRequiredKgd":false}]}}}}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/products/requests/attributes":{"get":{"tags":["Заявки на товары"],"summary":"Получить список базовых атрибутов (характеристик)","description":"Возвращает список всех доступных базовых атрибутов системы.","operationId":"attributes","responses":{"200":{"description":"Успешный ответ. Запрос выполнен корректно, возвращены ожидаемые данные.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PortalAttributeObjectDto"}},"examples":{"Пример ответа":{"description":"Пример ответа","value":[{"code":"gtin","attributeType":"standard","nameRu":"Код GTIN","descriptionRu":"Код GTIN","nameKk":"Код GTIN","descriptionKk":"Код GTIN","dataType":"string","isRequired":false,"isUnique":false},{"code":"name_kk","attributeType":"standard","nameRu":"Полное наименование товара (қаз)","descriptionRu":"Наименование товара должно быть без грамматических ошибок","nameKk":"Тауардың толық атауы (қаз)","descriptionKk":"Тауар атауы грамматикалық қателерсіз болуы тиіс","dataType":"string","isRequired":true,"isUnique":true},{"code":"name_ru","attributeType":"standard","nameRu":"Полное наименование товара (рус)","descriptionRu":"Наименование товара должно быть без грамматических ошибок","nameKk":"Тауардың толық атауы (орыс)","descriptionKk":"Тауар атауы грамматикалық қателерсіз болуы тиіс","dataType":"string","isRequired":true,"isUnique":true}]}}}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/dictionaries":{"get":{"tags":["Справочники"],"summary":"1. Получить список всех доступных справочников","description":"Возвращает список всех справочников, доступных для портала.","operationId":"getAllDictionaries","responses":{"200":{"description":"Успешный ответ. Запрос выполнен корректно, возвращены ожидаемые данные.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PortalAttributeObjectDto"}},"examples":{"Пример ответа":{"description":"Пример ответа","value":[{"code":"gtin","attributeType":"standard","nameRu":"Код GTIN","descriptionRu":"Код GTIN","nameKk":"Код GTIN","descriptionKk":"Код GTIN","dataType":"string","isRequired":false,"isUnique":false},{"code":"name_kk","attributeType":"standard","nameRu":"Полное наименование товара (қаз)","descriptionRu":"Наименование товара должно быть без грамматических ошибок","nameKk":"Тауардың толық атауы (қаз)","descriptionKk":"Тауар атауы грамматикалық қателерсіз болуы тиіс","dataType":"string","isRequired":true,"isUnique":true},{"code":"name_ru","attributeType":"standard","nameRu":"Полное наименование товара (рус)","descriptionRu":"Наименование товара должно быть без грамматических ошибок","nameKk":"Тауардың толық атауы (орыс)","descriptionKk":"Тауар атауы грамматикалық қателерсіз болуы тиіс","dataType":"string","isRequired":true,"isUnique":true}]}}}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/dictionaries/{dictionaryCode}/roots":{"get":{"tags":["Справочники"],"summary":"2. Получить корневые элементы справочника","description":"Возвращает список корневых элементов указанного справочника.","operationId":"getRootItems","parameters":[{"name":"dictionaryCode","in":"path","description":"Код справочника (например, OKTRU)","required":true,"schema":{"type":"string"},"example":"OKTRU"}],"responses":{"200":{"description":"Успешный ответ. Запрос выполнен корректно, возвращены ожидаемые данные.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PortalAttributeObjectDto"}},"examples":{"Пример ответа":{"description":"Пример ответа","value":[{"code":"gtin","attributeType":"standard","nameRu":"Код GTIN","descriptionRu":"Код GTIN","nameKk":"Код GTIN","descriptionKk":"Код GTIN","dataType":"string","isRequired":false,"isUnique":false},{"code":"name_kk","attributeType":"standard","nameRu":"Полное наименование товара (қаз)","descriptionRu":"Наименование товара должно быть без грамматических ошибок","nameKk":"Тауардың толық атауы (қаз)","descriptionKk":"Тауар атауы грамматикалық қателерсіз болуы тиіс","dataType":"string","isRequired":true,"isUnique":true},{"code":"name_ru","attributeType":"standard","nameRu":"Полное наименование товара (рус)","descriptionRu":"Наименование товара должно быть без грамматических ошибок","nameKk":"Тауардың толық атауы (орыс)","descriptionKk":"Тауар атауы грамматикалық қателерсіз болуы тиіс","dataType":"string","isRequired":true,"isUnique":true}]}}}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/dictionaries/{dictionaryCode}/items":{"get":{"tags":["Справочники"],"summary":"4. Получить элементы справочника (постранично)","description":"Возвращает постраничный список элементов указанного справочника.\nМетод универсален и подходит как для древовидных, так и для недревовидных справочников\n(например, OKTRU, TNVED).\n\nПример запроса:\nGET /portal/api/v1/dictionaries/tnved/items?page=1&size=2\n","operationId":"getItems","parameters":[{"name":"dictionaryCode","in":"path","description":"Код справочника (например, OKTRU, TNVED)","required":true,"schema":{"type":"string"},"example":"TNVED"},{"name":"page","in":"query","description":"Номер страницы (начиная с 1)","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"size","in":"query","description":"Количество элементов на странице (1–100)","required":true,"schema":{"type":"integer","format":"int32"},"example":2}],"responses":{"200":{"description":"Успешный ответ. Возвращает постраничный список элементов справочника.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageDto"},"examples":{"Пример ответа":{"description":"Пример ответа","value":{"content":[{"id":27771,"code":"9999999999","level":1,"hasChild":false,"properties":{"code":"9999999999","nameKk":"Прочие товары","nameRu":"Прочие товары"},"isDeleted":false,"createdDate":"2025-10-26T01:15:32","updatedDate":"2025-10-26T01:15:32"},{"id":27770,"parentId":27768,"code":"9706900000","level":1,"hasChild":false,"properties":{"code":"9706900000","nameKk":"Антиквариат возрастом более 100 лет: прочий","nameRu":"Антиквариат возрастом более 100 лет: прочий"},"isDeleted":false,"createdDate":"2025-10-26T01:15:32","updatedDate":"2025-10-26T01:15:32"}],"totalElements":13612,"totalPages":6806}}}}}},"400":{"description":"Некорректный запрос. Ошибка в параметрах page или size.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"401":{"description":"Не авторизован. Требуется действительный API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"422":{"description":"Ошибка бизнес-валидации.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/dictionaries/{dictionaryCode}/children/{parentId}":{"get":{"tags":["Справочники"],"summary":"3. Получить дочерние элементы по parentId","description":"Возвращает список элементов справочника, являющихся дочерними для указанного родителя.\nПоля аналогичны методу получения корневых элементов.\n","operationId":"getItemsByParentId","parameters":[{"name":"dictionaryCode","in":"path","description":"Код справочника (например OKTRU)","required":true,"schema":{"type":"string"},"example":"OKTRU"},{"name":"parentId","in":"path","description":"Идентификатор родительского элемента","required":true,"schema":{"type":"integer","format":"int64"},"example":9125264}],"responses":{"200":{"description":"Успешный ответ. Запрос выполнен корректно, возвращены ожидаемые данные.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PortalAttributeObjectDto"}},"examples":{"Пример ответа":{"description":"Пример ответа","value":[{"code":"gtin","attributeType":"standard","nameRu":"Код GTIN","descriptionRu":"Код GTIN","nameKk":"Код GTIN","descriptionKk":"Код GTIN","dataType":"string","isRequired":false,"isUnique":false},{"code":"name_kk","attributeType":"standard","nameRu":"Полное наименование товара (қаз)","descriptionRu":"Наименование товара должно быть без грамматических ошибок","nameKk":"Тауардың толық атауы (қаз)","descriptionKk":"Тауар атауы грамматикалық қателерсіз болуы тиіс","dataType":"string","isRequired":true,"isUnique":true},{"code":"name_ru","attributeType":"standard","nameRu":"Полное наименование товара (рус)","descriptionRu":"Наименование товара должно быть без грамматических ошибок","nameKk":"Тауардың толық атауы (орыс)","descriptionKk":"Тауар атауы грамматикалық қателерсіз болуы тиіс","dataType":"string","isRequired":true,"isUnique":true}]}}}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}}},"components":{"schemas":{"PortalCreateUpdateProductRequestDto":{"type":"object","description":"Запрос на создание заявки на карточку товара","properties":{"oktru":{"type":"string","description":"Код категории товара (ОКТРУ), соответствующий иерархии классификатора","example":"1015-0001-0029-100001212","minLength":1},"attributes":{"$ref":"#/components/schemas/PortalProductRequestAttributeValue","description":"Базовые (стандартные) атрибуты заявки: код и значение.\n\nРасширенные характеристики здесь не принимаются — для них есть три отдельные\nгруппы: mainExtendedAttributes, additionalExtendedAttributes и\ncustomExtendedAttributes. Характеристика с флагом isGov в этом массиве\nприведёт к ошибке валидации.\n\nИсключение — признаки формы szpt_category и is_domestic: расширенными\nхарактеристиками они не являются и передаются здесь.\n","example":[{"code":"name_ru","value":"Платье женское вечернее из шелка"},{"code":"name_kk","value":"Жібектен тігілген әйелдердің кешкі көйлегі"},{"code":"country","value":"CN"},{"code":"brand","value":"ZARA"}]},"ntin":{"type":"string","description":"НТИН карточки, которую нужно отредактировать.\n\nОпределяет тип заявки: без него создаётся заявка на новый товар, с ним —\nзаявка на редактирование указанной карточки. Расширенные карточки\n(с присвоенным КЗТИН) редактированию через внешний API не подлежат.\n\nЧасть полей карточки при редактировании изменить нельзя: полное наименование\nна русском и казахском, НТИН и код ТН ВЭД. Их можно не передавать —\nзначения возьмутся из карточки; переданное отличающееся значение\nприведёт к ошибке.\n","example":"0200121110880"},"autoPublication":{"type":"boolean","default":false,"description":"Флаг автоматической публикации после успешного создания заявки","example":false},"isGov":{"type":"boolean","description":"Флаг, указывающий является ли заявка расширенной карточкой","example":false},"mainExtendedAttributes":{"type":"array","description":"Основные расширенные характеристики — единый для всех категорий набор\nЦЭФ: enstrus, gross_weight, net_weight, volume, standards,\npackage_dimensions, product_dimensions.\n\nЗаполнять обязательно: без них заявка не пройдёт отправку на модерацию.\nПеречень для категории отдаёт GET /categories/{oktru}/gov-attributes —\nэто массив mainAttributes его ответа.\n","items":{"$ref":"#/components/schemas/PortalProductRequestAttributeValue"}},"additionalExtendedAttributes":{"type":"array","description":"Дополнительные расширенные характеристики — те, что предусмотрены именно\nдля этой категории. Их состав отдаёт GET /categories/{oktru}/gov-attributes —\nэто массив additionalAttributes его ответа.\n\nОриентироваться на флаг isMain нельзя: им помечено большинство категорийных\nхарактеристик, но в форме НКТ они относятся к дополнительным.\n","items":{"$ref":"#/components/schemas/PortalProductRequestAttributeValue"}},"customExtendedAttributes":{"type":"array","description":"Дополнительные характеристики, созданные пользователем вручную, когда нужной\nхарактеристики нет среди предусмотренных для категории.\n\nПоле code не передаётся — код генерируется в НКТ из наименования.\nОбязательны nameRu и nameKk.\n","items":{"$ref":"#/components/schemas/PortalProductRequestAttributeValue"}},"imageFiles":{"type":"array","description":"Файлы изображения заявки","items":{"$ref":"#/components/schemas/ProductRequestFileDto"}},"documents":{"type":"array","description":"Документы заявки","items":{"$ref":"#/components/schemas/ProductRequestDocumentDto"}}},"required":["attributes","autoPublication","oktru"]},"PortalProductRequestAttributeValue":{"type":"object","description":"Пара (код атрибута, значение), используемая при создании заявки на товар","properties":{"code":{"type":"string","description":"Код атрибута, соответствующий структуре категории","example":"name_ru","minLength":1},"value":{"type":"string","description":"Значение атрибута. Может быть строкой, числом, булевым значением или кодом справочника","example":"Платье женское вечернее из шелка"},"nameRu":{"type":"string","description":"Наименование атрибута на русском","example":"Длина"},"nameKk":{"type":"string","description":"Наименование атрибута на казахском","example":"Ұзындығы"},"attributes":{"type":"array","description":"Вложенные атрибуты (для составных характеристик)","items":{"$ref":"#/components/schemas/PortalProductRequestAttributeValue"}},"isGov":{"type":"boolean","description":"Атрибут расширенной карточки","example":true},"is_new":{"type":"boolean","description":"Признак нового атрибута, добавленного пользователем вручную","example":false}},"required":["code"]},"ProductRequestDocumentDto":{"type":"object","description":"Документ заявки (только PDF)","properties":{"fileName":{"type":"string","description":"Имя файла документа (только формат .pdf)","example":"specification.pdf","minLength":1,"pattern":"(?i).+\\.pdf$"}},"required":["fileName"]},"ProductRequestFileDto":{"type":"object","description":"Файл заявки","properties":{"fileName":{"type":"string","description":"Имя файла","minLength":1},"imageType":{"type":"string","description":"Тип файла","enum":["front","back","left","right","top","bottom"]}},"required":["fileName","imageType"]},"ApiErrorDto":{"type":"object","properties":{"code":{"type":"string","description":"Код ошибки"},"message":{"type":"string","description":"Сообщение об ошибке"}}},"UploadedFileDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"filename":{"type":"string"},"originalFilename":{"type":"string"},"fileExtension":{"type":"string"},"sizeBytes":{"type":"integer","format":"int64"},"sizeMB":{"type":"number","format":"double"},"createdAt":{"type":"integer","format":"int64"}}},"CreateProductResponseDto":{"type":"object","description":"Ответ при создании заявки на товар","properties":{"id":{"type":"integer","format":"int64","description":"Идентификатор созданной заявки на товар","example":12345}}},"PortalEditProductResponseDto":{"type":"object","description":"Заявка на редактирование карточки товара, готовая к правке и отправке","properties":{"productRequestId":{"type":"integer","format":"int64","description":"Идентификатор созданной заявки — использовать в остальных методах","example":484025},"oktru":{"type":"string","description":"Код категории товара (ОКТРУ). Значение null означает, что категория карточки\nотсутствует в действующем справочнике — укажите актуальный код перед отправкой.\n","example":"1071-0001-0004-100043098"},"isGov":{"type":"boolean","description":"Признак расширенной карточки","example":false},"autoPublication":{"type":"boolean","description":"Признак автоматической публикации после успешной модерации","example":false},"attributes":{"type":"array","description":"Базовые (стандартные) атрибуты карточки","items":{"$ref":"#/components/schemas/PortalProductRequestAttributeValue"}},"mainExtendedAttributes":{"type":"array","description":"Основные расширенные характеристики","items":{"$ref":"#/components/schemas/PortalProductRequestAttributeValue"}},"additionalExtendedAttributes":{"type":"array","description":"Дополнительные расширенные характеристики категории","items":{"$ref":"#/components/schemas/PortalProductRequestAttributeValue"}},"customExtendedAttributes":{"type":"array","description":"Расширенные характеристики, заведённые пользователем вручную","items":{"$ref":"#/components/schemas/PortalProductRequestAttributeValue"}},"imageFiles":{"type":"array","description":"Изображения карточки","items":{"$ref":"#/components/schemas/ProductRequestFileDto"}},"documents":{"type":"array","description":"Документы карточки","items":{"$ref":"#/components/schemas/ProductRequestDocumentDto"}}}},"PortalDuplicateDecisionRequestDto":{"type":"object","description":"Решение пользователя по потенциальным дублям","properties":{"decision":{"type":"string","description":"Решение. CONTINUE - продолжить создание новой карточки, USE_EXISTING - выбрать существующий товар из списка","enum":["CONTINUE","USE_EXISTING"],"example":"CONTINUE"},"ntin":{"type":"string","description":"Код NTIN выбранного товара в списке дублей (обязательно при USE_EXISTING)","example":"0200120900000"}},"required":["decision"]},"ImageData":{"type":"object","properties":{"imageFiles":{"type":"array","items":{"$ref":"#/components/schemas/ImageFile"}}}},"ImageFile":{"type":"object","properties":{"fileName":{"type":"string"},"imageType":{"type":"string","enum":["front","back","left","right","top","bottom"]},"moderatorComment":{"type":"string"},"aiComment":{"type":"string"}}},"PortalAncestor":{"type":"object","description":"Информация о родительской категории в иерархии ОКТРУ","example":[{"level":1,"code":"1015","nameKk":"Дәрілік заттар","nameRu":"Лекарственные средства"},{"level":2,"code":"1015-0001","nameRu":"Пищеварительный тракт и обмен веществ"},{"level":3,"code":"1015-0001-0029","nameRu":"Другие противорвотные препараты"},{"level":4,"code":"1015-0001-0029-100001212","nameRu":"Хлоробутанол в комбинации со средствами"}],"properties":{"level":{"type":"integer","format":"int32","description":"Уровень категории в иерархии (1 — верхний, 4 — конечный)","example":3},"code":{"type":"string","description":"Код категории (ОКТРУ)","example":"1015-0001-0029"},"nameKk":{"type":"string","description":"Наименование категории на казахском языке","example":"Басқа құсуға қарсы препараттар"},"nameRu":{"type":"string","description":"Наименование категории на русском языке","example":"Другие противорвотные препараты"}}},"PortalAttributeObjectDto":{"type":"object","description":"Объект атрибута для заявок на товары в портале","properties":{"code":{"type":"string","description":"Уникальный код атрибута","example":"name_ru","minLength":1},"index":{"type":"integer","format":"int32","description":"Индекс атрибута в составном атрибуте","example":1},"attributeOrder":{"type":"integer","format":"int32","description":"Порядок атрибута","example":4},"attributeType":{"type":"string","description":"Тип атрибута","enum":["standard","advanced","gov","compound","compoundStandard"],"example":"standard"},"nameRu":{"type":"string","description":"Наименование атрибута на русском языке","example":"Полное наименование товара (рус)","minLength":1},"descriptionRu":{"type":"string","description":"Описание атрибута на русском языке","example":"Наименование товара должно быть без грамматических ошибок"},"nameKk":{"type":"string","description":"Наименование атрибута на казахском языке","example":"Тауардың толық атауы (орыс)","minLength":1},"descriptionKk":{"type":"string","description":"Описание атрибута на казахском языке","example":"Тауар атауы грамматикалық қателерсіз болуы тиіс"},"dataType":{"type":"string","description":"Тип данных атрибута","enum":["string","text","number","boolean","dictionary","multiDictionary","date"],"example":"string"},"isRequired":{"type":"boolean","description":"Признак обязательности заполнения","example":true},"isRequiredEgz":{"type":"boolean","description":"Характеристика обязательна по требованиям ЕГЗ","example":true},"isRequiredKgd":{"type":"boolean","description":"Характеристика обязательна по требованиям КГД","example":false},"isMain":{"type":"boolean","description":"Признак основного атрибута в справочнике ЦЭФ. На группу при создании заявки\nне влияет: им помечено большинство категорийных характеристик, а в форме НКТ\nони всё равно относятся к дополнительным. Группу определяет массив, в котором\nпришла характеристика — mainAttributes или additionalAttributes.\n","example":true},"isNew":{"type":"boolean","description":"Признак нового атрибута, добавленного пользователем вручную","example":true},"isUnique":{"type":"boolean","description":"Признак уникальности значения","example":false},"maxLength":{"type":"integer","format":"int32","description":"Максимальная длина строки (для строковых атрибутов)","example":255},"minValue":{"type":"string","description":"Минимальное значение (для числовых атрибутов)","example":1},"maxValue":{"type":"string","description":"Максимальное значение (для числовых атрибутов)","example":100},"dictionaryCode":{"type":"string","description":"Код справочника, если атрибут связан со справочником","example":"COUNTRY"},"pattern":{"type":"string","description":"Регулярное выражение для проверки значения атрибута","example":"^[A-Z0-9_-]{3,20}$"},"isSingle":{"type":"boolean","description":"Является ли составной атрибут одиночным","example":false},"value":{"type":"string","description":"Значение атрибута","example":"Платье женское вечернее из шелка"},"values":{"type":"object","additionalProperties":{},"description":"Объект значения, если атрибут связан со справочником (dictionary)","example":{"code":"KZ","nameRu":"КАЗАХСТАН","nameKk":"ҚАЗАҚСТАН"}},"multiValues":{"type":"array","description":"Список значений, если атрибут является мульти-справочником (multiDictionary)","example":[{"code":"EA","nameRu":"Штука"},{"code":"KG","nameRu":"Килограмм"}],"items":{"type":"object","additionalProperties":{}}},"attributes":{"$ref":"#/components/schemas/PortalAttributeObjectDto","description":"Вложенные атрибуты, если атрибут является составным (complex)"}},"required":["code","dataType","nameKk","nameRu"]},"PortalProductDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"gtin":{"type":"string"},"ntin":{"type":"string"},"kztin":{"type":"string"},"nameKk":{"type":"string"},"nameRu":{"type":"string"},"nameEn":{"type":"string"},"shortNameKk":{"type":"string"},"shortNameRu":{"type":"string"},"shortNameEn":{"type":"string"},"requestType":{"type":"string","enum":["base","gov"]},"categoryAncestors":{"type":"array","items":{"$ref":"#/components/schemas/PortalAncestor"}},"attributes":{"type":"array","items":{"$ref":"#/components/schemas/PortalAttributeObjectDto"}},"imageData":{"$ref":"#/components/schemas/ImageData"},"createdDate":{"type":"string","format":"date-time","description":"Дата и время создания товара","example":"2025-10-26T18:35:11"},"updatedDate":{"type":"string","format":"date-time","description":"Дата и время последнего обновления","example":"2025-10-26T19:10:45"}}},"LocalizationItemDto":{"type":"object","description":"Элемент с локализованным значением","example":{"code":"base","value":"Базовый"},"properties":{"code":{"type":"string","description":"Код значения (например, внутренний идентификатор или ключ справочника)"},"value":{"type":"string","description":"Локализованное значение (отображаемое название)"}}},"PagedPortalProductRequestShortDto":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/PortalProductRequestShortDto"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"additionalData":{"type":"object","additionalProperties":{}}}},"PortalDictionaryItem":{"type":"object","description":"Элемент справочника (элемент списка или узел древовидного справочника)","example":{"code":"MISSING_COUNTRY","nameKk":"Тауардың шыққан елі көрсетілмеген","nameRu":"Не указана страна происхождения товара"},"properties":{"code":{"type":"string","description":"Код элемента справочника","example":"1015-0001-0029"},"nameKk":{"type":"string","description":"Наименование элемента справочника на казахском языке","example":"Басқа құсуға қарсы препараттар"},"nameRu":{"type":"string","description":"Наименование элемента справочника на русском языке","example":"Другие противорвотные препараты"}}},"PortalProductRequestShortDto":{"type":"object","description":"Краткая информация о заявке на создание карточки товара","properties":{"id":{"type":"integer","format":"int64","description":"Уникальный идентификатор заявки","example":26799},"categoryId":{"type":"integer","format":"int64","description":"Идентификатор категории, к которой относится товар","example":8812},"categoryAncestors":{"$ref":"#/components/schemas/PortalAncestor","description":"Иерархия категорий (предков) от верхнего уровня до конкретной позиции ОКТРУ","example":[{"level":1,"code":"1015","nameKk":"Дәрілік заттар","nameRu":"Лекарственные средства"},{"level":2,"code":"1015-0001","nameRu":"Пищеварительный тракт и обмен веществ"},{"level":3,"code":"1015-0001-0029","nameRu":"Другие противорвотные препараты"},{"level":4,"code":"1015-0001-0029-100001212","nameRu":"Хлоробутанол в комбинации со средствами"}]},"productData":{"$ref":"#/components/schemas/ProductPreviewData","description":"Основные данные товара (наименования на разных языках)","example":{"nameRu":"Платье женское вечернее из шелка","nameKk":"Жібектен тігілген әйелдердің кешкі көйлегі","shortNameRu":"Платье вечернее","shortNameKk":"Кешкі көйлек"}},"status":{"$ref":"#/components/schemas/LocalizationItemDto","description":"Текущий статус заявки (локализованный)","example":{"code":"new","value":"Новая"}},"rejectionReason":{"$ref":"#/components/schemas/PortalRejectionReason","description":"Причина отклонения, если заявка была отклонена"},"requestType":{"$ref":"#/components/schemas/LocalizationItemDto","description":"Тип заявки (локализованный)","example":{"code":"base","value":"Базовый"}},"autoPublication":{"type":"boolean","description":"Флаг автоматической публикации после создания","example":false},"createdDate":{"type":"string","format":"date-time","description":"Дата и время создания заявки","example":"2025-10-26T00:02:06"},"updatedDate":{"type":"string","format":"date-time","description":"Дата и время последнего обновления заявки","example":"2025-10-26T00:45:10"}}},"PortalRejectionReason":{"type":"object","description":"Причина отклонения заявки на товар","properties":{"reason":{"type":"string","description":"Текстовое описание причины отклонения, указанное модератором","example":"Не указана страна происхождения товара"},"reasonItem":{"$ref":"#/components/schemas/PortalDictionaryItem","description":"Элемент справочника причины отклонения (локализованный)","example":{"code":"MISSING_COUNTRY","nameKk":"Тауардың шыққан елі көрсетілмеген","nameRu":"Не указана страна происхождения товара"}}}},"ProductPreviewData":{"type":"object","description":"Основные данные товара (наименования на разных языках)","example":{"nameRu":"Платье женское вечернее из шелка","nameKk":"Жібектен тігілген әйелдердің кешкі көйлегі","shortNameRu":"Платье вечернее","shortNameKk":"Кешкі көйлек"},"properties":{"nameRu":{"type":"string"},"nameKk":{"type":"string"},"shortNameRu":{"type":"string"},"shortNameKk":{"type":"string"},"standardizedName":{"type":"string"}}},"PortalGzStatusDto":{"type":"object","description":"Состояние расширенной части заявки","properties":{"code":{"type":"string","description":"Код статуса расширенной карточки","example":"underRevisionGz"},"value":{"type":"string","description":"Наименование статуса расширенной карточки","example":"На доработке"},"comment":{"type":"string","description":"Общий комментарий ЦЭФ при доработке или отклонении расширенной части","example":"Прошу дополнить заявку"},"revisionDetails":{"type":"array","description":"Замечания ЦЭФ к конкретным атрибутам","items":{"$ref":"#/components/schemas/PortalRevisionDetailDto"}}}},"PortalNextActionDto":{"type":"object","description":"Следующий шаг, который нужно выполнить по заявке","properties":{"description":{"type":"string","description":"Что нужно сделать","example":"Get the list of potential duplicates and make a duplicate decision"},"method":{"type":"string","description":"HTTP-метод вызова","example":"GET"},"endpoint":{"type":"string","description":"Адрес вызова","example":"/gwp/portal/api/v1/products/requests/484349/duplicates"}}},"PortalPhotoModerationDto":{"type":"object","description":"Оценка изображений искусственным интеллектом","properties":{"score":{"type":"integer","format":"int32","description":"Правильность заполнения фото по мнению ИИ, проценты (0–100)","example":0},"comment":{"type":"string","description":"Что именно не так с изображением","example":"Фотография не соответствует заявленному названию товара: на изображении представлен другой товар.\n"}}},"PortalProductRequestStatusDto":{"type":"object","description":"Статус заявки на карточку товара","properties":{"code":{"type":"string","description":"Код статуса базовой заявки","example":"underRevision"},"value":{"type":"string","description":"Наименование статуса базовой заявки","example":"На доработке"},"ntinCode":{"type":"string","description":"НТИН карточки, к которой привела заявка: собственной при статусе completed\nили выбранной существующей при статусе existingProductSelected.\n","example":"0200121958529"},"productUrl":{"type":"string","description":"Ссылка на карточку, к которой привела заявка: опубликованную при статусе\ncompleted или выбранную существующую при статусе existingProductSelected.\n","example":"https://nationalcatalog.kz/product/105254003"},"comment":{"type":"string","description":"Общий комментарий модератора при доработке или причина отклонения.\nНе заменяет замечания по атрибутам, а дополняет их: если есть и то и другое,\nвозвращаются оба.\n","example":"Необходимо скорректировать данные карточки."},"reason":{"type":"string","description":"Причина, по которой заявка оказалась в текущем статусе, когда её нельзя\nпонять по одному коду. Сейчас заполняется при возврате на доработку\nиз-за похожих карточек.\n","example":"Potential duplicate products found"},"nextAction":{"$ref":"#/components/schemas/PortalNextActionDto","description":"Следующий шаг по заявке. Заполняется, когда для продолжения работы нужен\nотдельный вызов, — например забрать список похожих карточек и принять\nпо ним решение.\n"},"revisionDetails":{"type":"array","description":"Замечания к конкретным атрибутам заявки","items":{"$ref":"#/components/schemas/PortalRevisionDetailDto"}},"photoModeration":{"$ref":"#/components/schemas/PortalPhotoModerationDto","description":"Оценка изображений искусственным интеллектом. Возвращается при доработке\nи отклонении, если проверка фото дала результат ниже допустимого порога, —\nпо коду статуса и замечаниям к атрибутам такую причину не увидеть.\n"},"gzStatus":{"$ref":"#/components/schemas/PortalGzStatusDto","description":"Состояние расширенной части. Возвращается, пока по заявке идёт работа\nв ЦЭФ, — в том числе когда базовая заявка уже completed.\n"}}},"PortalRevisionDetailDto":{"type":"object","description":"Замечание к конкретному атрибуту заявки","properties":{"attributeCode":{"type":"string","description":"Код атрибута","example":"brand"},"value":{"type":"string","description":"Текущее значение атрибута в заявке","example":"HP"},"comment":{"type":"string","description":"Текст замечания","example":"Уточните значение бренда."}}},"PortalDuplicateMatchDto":{"type":"object","description":"Найденный потенциальный дубль товара","properties":{"orderNumber":{"type":"integer","format":"int32","description":"Порядковый номер в списке (используется для выбора)","example":1},"name":{"type":"string","description":"Наименование товара","example":"Трубка от фильтра тонкой очистки топлива ГАЗ"},"brand":{"type":"string","description":"Бренд","example":"PRAVT"},"gtin":{"type":"string","description":"GTIN","example":2000000274591},"ntin":{"type":"string","description":"NTIN","example":"0200289239164"},"categoryAncestors":{"type":"array","description":"Категория (массив словарей уровней)","example":[{"id":1,"nameRu":"Одежда"}],"items":{"type":"object","additionalProperties":{}}},"similarity":{"type":"number","format":"double","description":"Процент совпадения","example":97.2}}},"PortalGovAttributesDto":{"type":"object","description":"Расширенные характеристики категории, разделённые на основные и дополнительные","properties":{"mainAttributes":{"type":"array","description":"Основные расширенные характеристики — единый для всех категорий набор ЦЭФ.\nПри создании заявки передаются в mainExtendedAttributes.\n","items":{"$ref":"#/components/schemas/PortalAttributeObjectDto"}},"additionalAttributes":{"type":"array","description":"Дополнительные расширенные характеристики, предусмотренные для этой категории.\nПри создании заявки передаются в additionalExtendedAttributes.\n","items":{"$ref":"#/components/schemas/PortalAttributeObjectDto"}}}},"PageDto":{"type":"object","properties":{"content":{"type":"array","items":{}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"additionalData":{"type":"object","additionalProperties":{}}}}},"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","description":"API ключ для доступа к защищённым ресурсам","name":"X-API-KEY","in":"header"}}}}